<!--  login form -->
<div class="container">
    <div class="row">

        <div class="col-6 mb-3">
            <!-- login-form -->
            <form (ngSubmit)="login()" [formGroup]="loginForm" class="mt-5 border px-5 mx-3 rounded shadow">
                <h3 class="text-primary text-center my-3">Login Here</h3>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example1">User Name</label>
                    <input name="username"  formControlName="username" type="text" id="form1Example1"
                        class="form-control" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example2">Password</label>
                    <input name="password" formControlName="password" type="password" id="form1Example2"
                        class="form-control" />

                        <div class="my-5">
                          <select name="year" formControlName="year" class="btn btn-light">
                            <option value="" selected hidden disabled>Year</option>
                            <option value="2022">2022</option>
                            <option value="2024">2024</option>

                          </select>
                          </div>
                          <div class="text-center mb-4 my-3">
                        <button type="submit" class="btn btn-primary btn-block mb-2">Login</button>
                    </div>
                </div>
                </form>